<!DOCTYPE html>
<html lang="en"></html>
<head>
    <title>Northwest Coffee Query</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
   
  </head>
<body>

    <nav>
       <a href="/" class="nav-items">Northwest Coffee Query</a>
        
       <div class="nav-items">
        <% if (user) { %>
          <a href="/logout" class="nav-items">Log Out</a>
          <span>| Hi <%= user.name %> </span>
        <% } else { %>
          <a href="/auth/google" class="nav-items"> Login with Google</a>

        <% } %>       
        </div>

    </nav>
  