body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #24252A;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 20px 0 30px;
}

.nav-items {
  color: #edf0f1;
  text-decoration: none;
  font-size: 20px;
}


/* .card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
} */
