body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: rgb(46, 25, 19);
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 20px 0 30px;
}

.nav-items {
  color: rgb(221, 214, 199);
  text-decoration: none;
  font-size: 20px;
}

.main-index {
  display: grid;
  justify-content: center;
  grid-template-rows: 450px 0px;
  grid-template-areas:
  "select"
  "welcome"
  
}

.welcome {
  grid-area: welcome;
  display: flex;
  align-items: center;
  justify-content: center;

}

.button-container {
  grid-area: select;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roast-button {
  display: flex;
  width: 200px;
  margin: 10px;
  height: 300px;
  border: 3px, solid rgb(46, 25, 19);
  border-radius: 5px;
  background-color: rgb(56, 42, 38);
  color: rgb(221, 214, 199);
  text-decoration: none;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
#light {

  background-color: rgb(76, 27, 15);
}

#medium {
  
  background-color: rgb(57, 28, 21);
}

#dark {
  
  background-color: rgb(34, 20, 15);
}

.main-show{
  display: grid;
  justify-content: center;
  grid-template-rows: 100px 250px;
  grid-template-areas:
  "heading"
  "coffee-table"
}

.show-table{
  grid-area: coffee-table;
  width: 850px;
  

}
th {
  text-align: left;
}

.show-heading{
  grid-area: heading;
  margin: 40px, 0, 0, -20px;
  align-items: center;
  
}

.main-description {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 100px;
  grid-template-columns: 600px 100px;
  margin-left: 70px;
  grid-template-areas:
  "coffee-title" "coffee-title"
  "image" "notes"
  "visit" "visit"
  "reviews" "reviews"
}

img {

  width: 160px;
  margin-left: 130px;
  grid-area: image;
}

.coffee-title {
  grid-area: coffee-title
}

.description-notes {
  grid-area: notes;
  width: 400px;
}

.reviews {
  grid-area: reviews
}

.visit {
  grid-area: visit
}

