<%- include('../partials/header') %>
<body>
    <div class="navbar">
        <nav>
            <a href="auth/google"> Login with Google</a>
        </nav>
    </div>
<h1>Index page</h1>

<a href="auth/google"> Login with Google</a>

<a href="/coffees/light">Light</a>
<a href="/coffees/medium">Medium</a>
<a href="/cofffees/dark">Dark</a>
<a href="/coffees/all">All Coffees</a>

<a href="/coffees/description/61dca79512a7b91a9f224db2">description page test</a>

</body>