<%- include('../partials/header') %>

<main class="main-index">

<div class="welcome">
   Begin by selecting your preferred roast. 
</div>

<div class="button-container">
<a href="/coffees/light" class="roast-button" id="light">
    <div>Light</div></a>
<a href="/coffees/medium" class="roast-button" id="medium">Medium</a>
<a href="/coffees/dark" class="roast-button" id="dark">Dark</a>
</div>


<%- include('../partials/footer') %>

</main>