<h1>Show Page, will include coffees by roast type</h1>
<table>
<tbody>
    <% coffee.forEach(function(c) { %>
      <tr>
        <td><%= c.coffeeName %></td>
        <td><%= c.roaster %></td>
        <td><a href="/coffees/<%= c._id %>">View Description</a></td>
      </tr>
      <% }); %>
    </tbody>
</table>